.bg-hero {
    background: url('../src/assets/LandingPage/hero-section.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 658px;
    height: 100%;
}

.bg-flexible-hero {
    background: url('../src/assets/LandingPage/flexiblehero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 658px;
    height: 100%;
}

.bg-img-card {
    background: url('../src/assets/LandingPage/bgcardimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.bg-subscription {
    background: url('../src/assets/LandingPage/subscriptionBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
.swiper-wrapper{
height: 374px !important;
}

.bg-cards {
    background: url('../src/assets/LandingPage/bg-cards.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.bg-provider-detail {
    background: url('../src/assets/LandingPage/bg-provider-detail.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.backdrop {
    transition: background 0.3s ease-in-out;
}

.heading-colors strong {
    font-weight: 500 !important;
    font-size: 24px;
    color: black !important;
}

.memberShipcontent h2 {
    font-weight: 500 !important;
    font-size: 24px;

}

.memberShipcontent h2>span {
    font-size: 16px;
    color: black !important;

}

.bg-qr {
  background: url('../src/assets/UserInterFace/qrBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  border-radius: 20px;

  /* Optional for better layout behavior */
  display: flex;
  justify-content: center;
  align-items: center;
}


.gradient-border {
  position: relative;
  border-radius: 10px;
  z-index: 0;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.3px; /* thickness of the border */
  border-radius: 10px;
  background: linear-gradient(to left, #29ABE2, #63CFAC);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
